div{
    height: 200px;
    width: 200px;
    background-color:rgb(52, 160, 187);
   /* border-radius:50%;*/
    /*transition-property: all;
    transition-duration: 3ms;
    transition-timing-function: ease-out;    
    transition-delay: 5s;*/
    transition: all 3s ease-out 5s; 
}
div:hover{
    background-color:rgb(91, 216, 131);
    font-size: 600px;
}
div:active{
    background-color:rgb(216, 131, 91);
}